#container
{
  /* background-color: white; */
  
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bttn
{
  margin-top: 22px;
  /* height: 32px; */
  /* width: 280px; */
  background-color: violet;
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.bttn:hover
{
  transform: scale(1.01);
  transition-duration: 0.5s;
  cursor: pointer;
  color: black;
  /* width: 280px; */
  /* height: 32px; */
}
.btns
{
  /* display: flex; */
  position: relative;
  left: 29px;
  width: 750px;
  /* flex-direction: column; */
  /* margin: 12px; */
}
/* body

{
  background-color: white;
  color: black;
} */
#dmmode
{
  border: 3px solid black;
  padding: 10px;
  padding-left: 10px;
  color: black;
  background-color: white;
  font-size: 20px;
}
#ThemeButtons
{
  position:absolute;
  top: 10px;
  right: 281px;
}
.themebtn
{
  cursor: pointer;
}

@media only screen and (max-width:400px)
{
  textarea
    {
        height: 10em;
        width: 15em;
    }
    .btns
    {
      position: relative;
      z-index: -1;
      left: 0px;
      width: 100vw;
        /* display: inline; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .bttn
    {
      cursor: pointer;
      /* position: relative; */
      /* left: 100px; */
      /* display: block; */
      width: 150px;
      height: 70px;
      /* background-color: pink; */
    }
    #cpy
    {
      display: none;
    }
    #cptlise
    {
      position: relative;
      bottom: 15px;
    }
}