
*
{
    margin: 0;
    padding: 0;
}
.navbaar
{
    background-color: wheat;
    display: flex;
}
li
{
    list-style: none;
}
.item 
{
    margin: 3px 20px;
    padding: 10px 10px;
    font-size: 23px;
}
li a
{
    text-decoration: none;
}
li a:hover
{
    background-color: aqua;
    border-radius: 12px;
}
#flexSwitchCheckDefault
{
    position: relative;
    top: 7px;
    left: 20px;
}
#drk
{
    position: absolute;
    right: 5px;
}
h1
{
    /* background-color: white; */
    color: black;
}
.themebtn
{
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
#bttn-1-red
{
    background-color: red;
}
#bttn-2-blue
{
    background-color: blue;
}
#bttn-3-green
{
    background-color: green;
}
#bttn-4-yellow
{
    background-color: yellow;
}